/* all fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
/* ///// */
* {
  margin: 0px;
  padding: 0px;
}
ul,
ol {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
p,
address,
figcaption,
figure {
  margin-top: 0px;
  margin-bottom: 0px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: brown; */
}
.clr {
  clear: both;
}

/* ESSENTIAL */
.manu-1 {
  background-color: #54397e;
  text-align: right;
}
.manu-1 ul {
  display: flex;
  margin-right: auto;
  /* justify-content: flex-end; */
}
.manu-1 ul li {
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0 0 rgb(255 255 255 / 10%);
}
/* .manu-1 ul li:last-child {
  border-right: none;
  box-shadow: none;
} */
.manu-1 ul a {
  color: white;
  height: 42px;
  display: inline-block;
  padding-top: 24px;
  font-size: 15px;
  padding: 24px 10px 0px 10px;
  font-family: "Roboto", sans-serif;
}
.manu-1 ul a:hover {
  background: #4b3371;
}
/* menu-1 end */
.menu-2 .brand {
  display: inline-block;
}
.menu-2 .menu {
  display: inline-block;
  margin-left: 33%;
}
.menu-2 .menu ul {
  display: flex;
}
.menu-2 .menu ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding: 0 19px;
  line-height: 76px;
  position: relative;
}
.menu-2 .menu ul li {
  position: relative;
}
.menu-2 .menu ul li::after {
  position: absolute;
  top: 95%;
  left: 0;
  right: 100%;
  bottom: 0;
  background-color: blue;
  content: "";
  transition: all linear 0.3s;
}
.menu-2 .menu ul li:hover::after {
  position: absolute;
  top: 95%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blue;
  content: "";
}
.menu-2 .brand h1 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 76px;
  color: white;
}
.menu-2 .brand {
  background-color: blue;
  position: relative;
}
.menu-2 .brand::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -600000px;
  right: 100%;
  background-color: blue;
}
